{% extends "base.html" %}
{% block content %}

<h2>Ciao {{ utente }}! 🎅</h2>

<div class="box">

    <h3>🎁 Estrazione Secret Santa</h3>
    {% if gia1 %}
        <p>Hai già estratto: <strong>{{ gia1 }}</strong></p>
    {% else %}
        <form method="POST" action="/fai_estrazione1">
            <button class="btn">Estrai partecipante 🎄</button>
        </form>
    {% endif %}
</div>

<br>

<div class="box">
    <h3>🧸 Estrazione del Giocattolo</h3>
    {% if gia2 %}
        <p>Hai già ricevuto: <strong>{{ gia2 }}</strong></p>
    {% else %}
        <form method="POST" action="/fai_estrazione2">
            <button class="btn btn2">Estrai giocattolo ⭐</button>
        </form>
    {% endif %}
</div>

{% endblock %}
